<!DOCTYPE html>
<html>
	<head>
	<title>Input Notes</title>
	</head>
	<body>
		<h1>Notes Input Screen</h1>
		<form method="post" action="/users">
			<label>Please enter a subject and a note:</label><br>
			<input type="text" name="subject" placeholder="Please enter a subject:" required><br>
			<input type="text" name=" note" placeholder="Please enter a note:" required><br>
			<input type="submit" value="Add note" onclick="">
		</form>
	</body>
</html>
